<div class="jumbotron">
    <h1>CPA02: Song Manager</h1>
    <p></p>
</div>

<p class="p-3 m-3 border border-primary bg-light">
    The goal of this assignment is to write an app that will let
    users search through their database of songs and filter them easily.
    This code uses a very small song dataset (29 songs) as a showcase.
</p>